#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.faq-button {
  display: flex;
  align-items: center;
}
.faq-question {
  margin-bottom: 1em;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: left;

  
}
.btn-rotate{
  transform: rotate(90deg);
}
.faq-answer{
  width: 100%;
  margin-left: 10px;
}
.sol-val {
  background-color: rgb(216, 216, 216);;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}
.faq-sol {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-right: 10vw;
  margin-left: 10px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
